{{ define "main" }}
    <main class="posts">
        <h2>{{ .Title }}</h2>

        {{ if .Params.photo }}
        <div class="box">
          <figure class="series-photo" itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject">
            <div class="img">
              <img itemprop="thumbnail" src="{{ .Params.photo }}" alt="{{ .Params.exif }}">
            </div>
            <a href="{{ .Params.photo }}" itemprop="contentUrl"></a>
            <figcaption>{{ .Params.photoCaption | safeHTML }}</figcaption>
          </figure>
        </div>
        {{ end }}

        {{- if .Description }}
        <div class="post-content">{{ .Description }}</div>
        {{- end }}

        {{- range .Data.Pages.GroupByDate "2006" }}
            <div class="posts-group">
                <div class="post-year">{{ .Key }}</div>

                <ul class="posts-list">
                    {{- range .Pages }}
                        <li class="post-item">
                            <a href="{{.Permalink}}">
                                <span class="post-title">{{.Title}}</span>
                                <span class="post-day">{{ if .Site.Params.dateformShort }}{{ .Date.Format .Site.Params.dateformShort }}{{ else }}{{ .Date.Format "Jan 2"}}{{ end }}</span>
                            </a>
                            {{ if .Params.series }}<div class="series-title"><a href="{{ "series/" | relURL }}{{ index .Params.series 0 | urlize }}">{{ index .Params.series 0 }}</a> {{ if .Params.part }} Part {{.Params.part}}{{ end }}</div>{{ end }}
                        </li>
                    {{- end }}
                </ul>
            </div>
        {{- end }}
    </main>
{{ end }}
