{{ define "main" }}
    <main aria-role="main">
        <div>
            <h1>{{ .Site.Title }}</h1>

            {{- with .Site.Params.homeSubtitle }}
                <p>{{.}}</p>
            {{- end }}

            {{- with .Site.Params.social }}
                <div>
                    {{ partial "social-icons.html" . }}
                </div>
            {{- end }}
            <p style="margin-top: 40px; margin-bottom: -1px">DevOps World | Jenkins World 2019 - San Francisco</p>
            <a href="/posts/lightning-talks-dw-jw-2019">DevOps Theater Lightning Talks Slides</a>
        </div>
    </main>
{{ end }}
