{{ define "main" }}
  <main class="posts authors">
    <h1>{{ .Params.name }}</h1>
    <h2>Bio</h2>
    <div class="content"><div>{{ if .Params.photo }}<div class="photo"><img src="{{ .Params.photo }}"  alt="{{ .Params.name }}"/></div>{{ end }}<div>{{ .Content  | markdownify }}</div></div></div>
    {{ with .Params.twitter }}
      <p>
        <a href="https://twitter.com/{{ substr . 1 }}">
          Follow {{ $.Params.name }} on Twitter
        </a>
      </p>
    {{ end }}

    <h2>Articles</h2>
    <ul>
    {{ range .Data.Pages }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
    {{ end }}
    </ul>
  </main>
{{ end }}